@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
$color1: #072ac8ff;
$color2: #1e96fcff;
$color3: #a2d6f9ff;
$color4: #fcf300ff;
$color5: #ffc600ff;

html {
  overflow: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  background: $color2;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  h1 {
    font-weight: 700;
  }
}
